*{
	margin: 0;
	padding: 0;
	--main-bg-color: #000000;
	--main-font-color: #EFEDEB;
	--panlist-bg-color: #202020;
	--card-border-color: #000000;
	--footer-line-color: #202020;
	--img-height: 180px;
	--img-width: 180px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	color: var(--main-font-color);
	font-family: "Hannari", serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 3px;
	background: var(--main-bg-color);
}

a{
	color: var(--main-font-color);
	text-decoration: none;
	font-weight: 400;
}

.f_container{
	height: 100%;
	display: flex;
}

.f_column_container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.top_left{
	height: 100%;
	width: 300px;
}

.top_right{
	background-image: url("../image/top.png");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.logo_img{
	padding-top: 30px;
	width: 100px;
	height: auto;
}

.text_center{
	text-align: center;
}

.vertical_justify_list{
	-ms-writing-mode: tb-rl;
 	writing-mode: vertical-rl;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	width: 100%;
	/* padding-right: 80px; */
}

.top_nav{
	padding: 50px 30px;
}
.top_nav a:hover{
	text-shadow: 0 0 10px white;
	/* color:#FFDC8C; 	/*リンクにマウスが乗ったら背景色を変更する*/ */
}

.top_bottom{
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	padding-bottom: 20px;
}

#header{
	display: flex;
	text-align: center
	align-items:flex-end;
	justify-content: space-between;
	padding: 10px;
}

#header li{
	display: inline-block;
	padding-left: 10px;
}

.header_logo, .header_logo_img{
	width: 35px;
	height: auto;
}

.header_menu{
	display: flex;
	align-items: center;
}

#pan_list{
	padding-left: 10px;
	background: var(--panlist-bg-color);
}

.main_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90%;
}

.content{
	padding-top: 60px;
	width: 100%;
}

.pic-content{
	width: 100%;
	height: auto;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}

.sentense{
	margin-right: 21px;
	margin-left: 21px;
	display:flex;
	justify-content: space-between;
}

.sns_sentense{
	margin-right: 21px;
	margin-left: 21px;
	margin-top: 30px;
}

.profile_txt{
	height: auto;
}

.profile_txt img{
	float: right;
	height: 300px;
	width: auto;
}

.img-item{
	margin: 20px 40px;
	text-align:center;
}

.img-item,img{
	height: var(--img-height);
	width: var(--img-width);
}

.form-item{
	margin-bottom:50px;
}

footer{
	border-top: 5px solid var(--footer-line-color);
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

input, label{
	display: block;
}

input{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size:1.5rem;
	background: var(--main-font-color);
}

textarea{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size:1.5rem;
	background: var(--main-font-color);
}

/* button{
	font-size: 1rem;
	letter-spacing: 3px;
	padding: 10px 30px;
	background: #248; //#DA7400;
	border-style: none;
	color: var(--main-font-color);
	cursor: pointer;
} */
button{
	border: 1px solid var(--main-font-color);
	border-radius: 0;
	background: var(--main-bg-color);
	color: var(--main-font-color);
	padding: 8px 16px;
	cursor: pointer;
	transition: 0.3s;
}
button:hover{
	background: var(--main-font-color);
	color: var(--main-bg-color);
}


.card-shadow{
	/* border-radius: 2px; */
	/* border:1px solid var(--card-border-color); */
	box-shadow: 5px 8px 20px rgba(255,255,255,0.25);
	transition: .3s;
}

.card-shadow:hover{
	box-shadow: 0 15px 30px -5px rgba(255,255,255,.15), 0 0 5px rgba(255,255,255,.1);
	transform: translateY(3px);
}

.contact_top{
	display:flex;
	justify-content:center;
}

.contact_flow {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.contact_sentense{
	margin-top: 30px;
	flex-direction: column;
}

.contact_note{
	margin-bottom: 20px;
}

.contact_button{
	margin-bottom: 20px;
}


.menu_cover{
	display: none;
	position: absolute;
	top:0;
	left:0;
	/* background-color: var(--panlist-bg-color); */
	height: 100%;
	 /* height: -webkit-fill-available; */
	/* min-height: 100vh; */
	width: 100vw;
	z-index: 1;
	opacity: 0.1;
}

.burger{
	background-color: var(--main-bg-color);
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226,226,226);
	margin: 5px;
	transition: all 0.3s ease;
}


@media (max-width: 750px) {
	html, body{
		width: 100%;
		padding: 0;
		margin: 0;
		letter-spacing:1px;
		overflow-x: hidden;
	}

	.f_column_container_narrow{
		flex-direction: column-reverse;
		align-items: center;
	}
	.top_nav{
		padding-top: 30px;
		padding-bottom:70px;
	}

	.top_right{
		height:350px;
	}
	.vertical_justify_list{
		padding:auto;
	}

	.content{
		padding: 5px;
	}
	.sentense{
		margin: 0;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.sentense_right{
		margin: 10px;
		padding: 5px;
		width: 100%;
		height:auto;
	}
	.sentense_left{
		margin-top: 15px;
	}
	.profile_txt{
		padding: 10px;
	}

	.profile_txt img{
		float: none;
		height: 300px;
		width: auto;
	}
	.main_container{
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 90%;
	}

	.menu_cover{
		/* display: block; */
		height: 100%;
	}

	.burger{
		z-index: 2;
		display: block;

		position: fixed;
		top: 20px;
		right: 20px;
	}

	.header_menu{
	}

	.nav-links{
		background-color: var(--main-bg-color);
		z-index: 2;

		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		right: 0;
		height: 100vh;
		top: 0;
		width: 50%;
		transform: translateX(100%);
		transition: transform 300ms ease-in;
	}

	.nav-links li:first-child{
		margin-top: 8vh;
	}

	.nav-links li{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.nav-active{
	transform: translateX(0%);
}

.menu_cover_active{
	display: block;
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}
